<div class="content-wrapper container-xxl p-0">
  <div class="content-body">
    <!-- content-header component -->
    <app-content-header [contentHeader]="contentHeader"></app-content-header>

    <!-- Basic Alerts start -->
    <section id="home-page">
      <div class="row">
        <div class="col-12">
          <div class="card">
            <div class="card-header">
              <h4 class="card-title">Bem-vindo ao projeto da Drogaria Origem 🚀</h4>
            </div>
            <div class="card-body pb-1">
              <p class="card-text">Nesta página, você poderá escolher qual parâmetro deseja adicionar, editar ou excluir.</p>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- Basic Alerts end -->

    <section id="card-text-alignment">
      <h5 class="mt-3 mb-2">Parâmetros de Despesas</h5>
      <div class="row">
        <div class="col-md-6 col-lg-4">
          <div class="card text-center mb-3">
            <div class="card-body">
              <h4 class="card-title">Fornecedores</h4>
              <p class="card-text">Aqui você poderá adicionar, editar ou remover fornecedores que serão utilizados em Despesas.</p>
              <a routerLink="/fornecedores" rippleEffect class="btn btn-outline-primary">Personalizar</a>
            </div>
          </div>
        </div>

        <div class="col-md-6 col-lg-4">
          <div class="card text-center mb-3">
            <div class="card-body">
              <h4 class="card-title">Categorias</h4>
              <p class="card-text">Aqui você poderá adicionar, editar ou remover categorias que serão utilizados em Despesas.</p>
              <a routerLink="/categorias/despesas" rippleEffect class="btn btn-outline-primary">Personalizar</a>
            </div>
          </div>
        </div>

      </div>
    </section>

    <section id="card-text-alignment">
      <h5 class="mt-3 mb-2">Parâmetros de Movimentação</h5>
      <div class="row">
        <div class="col-md-6 col-lg-4">
          <div class="card text-center mb-3">
            <div class="card-body">
              <h4 class="card-title">Categorias</h4>
              <p class="card-text">Aqui você poderá adicionar, editar ou remover categorias que serão utilizados em Despesas.</p>
              <a href="javascript:void(0)" rippleEffect class="btn btn-outline-primary">Personalizar</a>
            </div>
          </div>
        </div>

        <div class="col-md-6 col-lg-4">
          <div class="card text-center mb-3">
            <div class="card-body">
              <h4 class="card-title">Tipo</h4>
              <p class="card-text">Aqui você poderá adicionar, editar ou remover tipos de movimentações.</p>
              <a href="javascript:void(0)" rippleEffect class="btn btn-outline-primary">Personalizar</a>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</div>
